{% extends "layout/esui.twig" %}
{% block static %}
    <script type="text/javascript" src="/static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="/static/dropzone/dropzone.css">
    <link rel="stylesheet" href="/static/dropzone/dropzone.css">
{%endblock %}
{% block main %}
    <div class="easyui-panel" title="更新技师" data-options="iconCls:'icon-user2',collapsible:true,fit:true,border:false" >
        <div style="margin: 10px 0;"></div>
        <div class="form-box" style="padding: 10px 0 10px 20px">
            <form id="node-form"  action="/admin/engineer/editEngineer" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{engineer.id}}"/>
                <div class="input-group">
                    <span class="input-group-addon">所属商圈</span>
                    <input name="regionId" id="area-region">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >名字</span>
                    <input type="text" name="name" value="{{engineer.name}}" class="easyui-textbox" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >性别</span>
                    <input name="sex" class="easyui-switchbutton" {% if engineer.sex == '1'%}checked{% endif %} data-options="onText:'男',offText:'女'">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >电话号码</span>
                    <input type="text" name="tel" value="{{engineer.tel}}" class="easyui-textbox" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >地址</span>
                    <input type="text" name="address" value="{{engineer.address}}" class="easyui-textbox" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >身份证号码</span>
                    <input type="text" name="idNum" value="{{engineer.idNum}}" class="easyui-textbox" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >身份证照片</span>
                    <input name="idPic" value="{{engineer.idPic}}" type="hidden"/>
                    <div id="idPic" class="dropzone" >
                        <img id="idPic-img" style="width:130px;" src="{{engineer.idPic}}"/>
                    </div>
                    <a href="javascript:void(0)" id="idPic-reset" class="easyui-linkbutton dropzone-reset" iconCls="icon-clear">重置图片</a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >列表显示照片</span>
                    <input name="cover" value="{{engineer.cover}}" type="hidden"/>
                    <div id="cover" class="dropzone" >
                    <img id="cover-img" style="width:130px;" src="{{engineer.cover}}"/>
                    </div>
                    <a href="javascript:void(0)" id="cover-reset" class="easyui-linkbutton dropzone-reset" iconCls="icon-clear">重置图片</a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">简介</span>
                    <textarea style="width: 400px;height:60px" name="desc">{{engineer.desc}}</textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">擅长</span>
                    <textarea style="width: 400px;height:60px" name="skilled">{{engineer.skilled}}</textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">宣言</span>
                    <textarea style="width: 400px;height:60px;" name="manifesto">{{engineer.manifesto}}</textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">状态</span>
                    <input type="radio" name="status" value="1" {% if engineer.status == 1%} checked="checked"{% endif %} />启用
                    <input type="radio" name="status" value="0" {% if engineer.status == 0%} checked="checked" {% endif%} />禁用 
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm('node-form');">提交</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm();">清除</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- 配置文件 -->

    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script>
        $(function () {
            $('#area-region').combotree({
                url: '/admin/area/asy_area_tree',
                required: true
            });
            $('#area-region').combotree('setValue',{{engineer.regionId}});
           dz = initUpload('idPic','idPic');
            $('#idPic-reset').click(function () {
                $('#idPic-img').remove();
                dz.removeAllFiles(true);
            });
            cover = initUpload('cover','cover');
            $('#cover-reset').click(function(){
                $('#cover-img').remove();
                cover.removeAllFiles(true);
            });

        });
        function submitForm(id) {
            var $form = $('#' + id);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                success: function (msg) {
                    if (typeof msg === 'object') {
                        if (msg.status) {
                            alert(msg.msg);
                            //window.location.href = msg.url;
                             history.go(-1);
                        } else {
                            alert(msg.msg);
                        }
                    }
                }
            });
        }
        function initUpload(id,name) {
            var dz = new Dropzone("div#"+id, {
                maxFiles: 1,
                url: "/admin/service/doUpload",
                dictDefaultMessage: '点击选择文件或拖动文件到这里上传',
                uploadMultiple: false, //是否支持多文件上传
                dictRemoveFile: true,
                init: function () {
                    this.on("success", function (file, res) {
                        if (res.status === true) {
                            showMessage(res.msg);
                            $("input[name='"+name+"']").val(res.url);
                        } else {
                            showMessage(res.msg);
                            this.removeFile(file);
                        }
                    });
                    this.on("maxfilesexceeded", function (file) {
                        alert('只允许单张上传');
                        this.removeFile(file);
                    });
                }
            });
           return dz;
        }
    </script>
{% endblock %}