{# 我的收藏 #}
{% extends "layout/front.twig" %}
{% block title %}我的{% endblock%}
{%block header %}
    <div class="goback">
        <a href="/home/user/userCenter.html">
            <i class="sprits"></i>
        </a>
    </div>
    <div class="header-center">
        <ul class="shop-tab">
            <li>
                <a href="/home/user/myCollect.html" class="current">店铺</a>
            </li>
            <li>
                <a href="/home/user/myCollect/type/2.html">技师</a>
            </li>
        </ul>
    </div>
{% endblock %}
{%block main %}

    <div class="goods-list-box">

        <ul class="goods-list-ul">
            {% for collect in collects %}
                <li>
                    <a href="/home/store/storeDetail?id={{collect.id}}.html">
                        <div class="goods-img-box">
                            <img src="{{collect.cover}}" alt="">
                        </div>
                        <div class="goods-inf-con">
                            <div class="goods-name">
                                {{collect.storeName}}
                            </div>
                            <p class="goods-jianjie">[{{collect.name}}]{{collect.services}}</p>

                            <div class="goods-score">
                                <div class="score-start sprits">
                                    <div class="current-score sprits"></div>
                                </div>
                                <span class="comment-count">{{collect.commentNums}}评价</span>
                            </div>
                            <div class="distance"><0.5km</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}