{# 优惠商家 #}
{% extends "layout/front.twig" %}
{% block title %}优惠商家{% endblock%}
{%block header %}
    <div class="goback">
        <a href="javascript:history.go(-1)">
            <i class="sprits"></i>
        </a>
    </div>
    <div class="header-center">
    <ul class="shop-tab">
            <li>
                <a href="/home/store/index.html">全部商家</a>
            </li>
            <li>
                <a href="/home/store/promoStore.html" class="current">优惠商家</a>
            </li>
    </ul>
    </div>
    <div class="header-search">
        <a href="shop-search.html">
            <i class="sprits"></i>
        </a>
    </div>
{% endblock %}
{% block main %}
    <div class="shop-location">
        <a href="shop-map.html">
            <i class="sprits location"></i>
            <p>{{pos_address}}</p>
            <i class="sprits go-next"></i>
        </a>
    </div>
    <div class="goods-kinds">
        <ul class="goods-kinds-ul">
            <li data-kinds="all-city" style="width:50%">
                <a href="javascript:;">
                    <div class="all-city">
                         {{search_area|default('全城')}}
                        <i class="sprits"></i>
                    </div>
                </a>
            </li>
            <li data-kinds="all-zhineng" style="width:50%">
                <a href="javascript:;" class="nob">
                    <div class="zhineng">
                        {{sortType|default('智能排序')}}
                        <i class="sprits"></i>
                    </div>
                </a>
            </li>
        </ul>
        <div class="select-kinds-layer" data-kinds="all-city">
            <ol class="select-condition">
               <li class="current">
                    <a href="/home/store/promoStore">全城</a>
                </li>
                {% for area in areas %}
                    <li>
                        <a data-type="area" data-val="{{area.id}}" >{{ area.name}}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="select-kinds-layer" data-kinds="all-zhineng">
            <ol class="select-condition">
                <li class="current">
                    <a data-type="sortType" data-val="">智能排序</a>
                </li>
                <li>
                    <a data-type="sortType" data-val="dist">离我最近</a>
                </li>
                <li>
                    <a data-type="sortType" data-val="comment">人气最高</a>
                </li>
                <li>
                    <a data-type="sortType" data-val="score">评价最好</a>
                </li>
            </ol>
        </div>
    </div>
        {% for store in stores %}
            <div class="youhui-shop-list">
                <div class="youhui-shio-inf">
                    <div class="youhui-shop-name">{{store.storeName}}</div>
                    <div class="youhui-shop-code">
                        <div class="youhui-code-box sprits">
                            <div class="youhui-get-code sprits"></div>
                        </div>
                        {{store.commentNums}}评价
                    </div>
                    <a href="#">更多养生</a>
                    <div class="youhui-shop-address">深南大道沿线</div>
                </div>
                <ul class="youhui-shop-server">
                    {% for service in store.promo_services %}
                        <li>
                            <a href="/home/store/storeOrder/id/{{store.id}}/service_id/{{service.service_id}}/isVisit/{{service.isVisit}}">
                            <div class="youhui-shop-img">
                                <img src="{{service.cover}}" alt="">
                            </div>
                            <div class="youhui-shop-text">
                                <p>{{service.title}}{% if service.isVisit=='1'%} (上门) {% else %} (到店) {% endif %}</p> 
                                <p> {{service.name}}</p>
                                <p class="youhui"><span>¥{{service.price}} </span><em>¥{{service.mprice}}</em> <b>已售{{service.orderCount}}</b></p>
                            </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
   
{% endblock %}
{% block script %}
    <script>
        $(function () {
            FastClick.attach(document.body);

            $('.select-condition a').click(function () {
                //多条件筛选
                var type = $(this).data('type');
                var val = $(this).data('val');
                var search = GetRequest();
                if ($.isEmptyObject(search)) {
                    window.location.href = '/home/store/promoStore?' + type + '=' + val;
                } else {
                    search[type] = val;
                    var params = $.param(search);
                    window.location.href = '/home/store/promoStore?' + params;
                }
            });

            var selectKinds = function () {
                var $selectHandle = $(".goods-kinds-ul li"),
                        _target = "",
                        $showOption = $(".select-kinds-layer");
                $selectHandle.on("click", function () {
                    if (!$(this).hasClass("current")) {
                        $(this).addClass("current").siblings().removeClass("current");
                        _target = $(this).data("kinds");

                        for (var i = 0; i < $showOption.length; i++) {
                            var _point = $showOption.eq(i).data("kinds");
                            if (_point == _target) {
                                $showOption.hide();
                                $showOption.eq(i).show();
                                $showOption.eq(i).height($("body").height() - 170);
                            }
                        }
                    } else {
                        $(this).removeClass("current");
                        $showOption.hide();
                    }

                });
                $showOption.on("click", "li", function () {
                    $showOption.hide();
                    $selectHandle.removeClass("current")
                })
            }()
        })

        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
    </script>
{% endblock %}