{#查看评论#}
{% extends "layout/front.twig" %}
{% block title %}查看评论{% endblock%}
{%block header %}
    <div class="goback">
        <a href="javascript:window.location.href='/home/store/storeDetail/id/{{sid}}.html'">
            <i class="sprits"></i>
        </a>
    </div>
    <div class="title">查看点评</div>
{% endblock %}
{%block main %}
    <div class="goods-kinds  view-comment">
        <ul class="goods-kinds-ul">
            <li data-kinds="all-kinds">
                <a href="javascript:;">
                    <div class="all-kinds">
                        {{ scortStr| default('全部星级') }}
                        <i class="sprits"></i>
                    </div>
                </a>
            </li>
            <li data-kinds="all-zhineng">
                <a href="javascript:;" class="nob">
                    <div class="zhineng">
                        {%  if sort == 'desc' %} 默认排序{% else %} 时间倒序 {% endif %}
                        <i class="sprits"></i>
                    </div>
                </a>
            </li>
        </ul>

        <div class="select-kinds-layer" data-kinds="all-kinds">
            <ol class="select-condition">
                <li {% if score=='0' %}class="current" {% endif %}>
                     <a data-type="score" data-val="0">全部星级</a>
                </li>
                <li {% if score=='5' %}class="current" {% endif %}>
                    <a data-type="score" data-val="5">五星级点评</a>
                </li>
                <li {% if score=='4' %}class="current" {% endif %}>
                    <a data-type="score" data-val="4">四星级点评</a>
                </li>
                <li {% if score=='3' %}class="current" {% endif %}>
                    <a data-type="score" data-val="3">三星级点评</a>
                </li>
                <li {% if score=='2' %}class="current" {% endif %}>
                    <a data-type="score" data-val="2">二星级点评</a>
                </li>
                <li {% if score=='1' %}class="current" {% endif %}>
                    <a data-type="score" data-val="1">一星级点评</a>
                </li>
            </ol>
        </div>

        <div class="select-kinds-layer" data-kinds="all-zhineng">
            <ol class="select-condition">
                <li {% if sort=='desc' %} class="current" {% endif %}>
                    <a data-type="sort" data-val="desc">默认排序</a>
                </li>
                <li {% if sort=='asc' %} class="current" {% endif %}>
                    <a data-type="sort" data-val="asc">时间倒序</a>
                </li>
            </ol>
        </div>
    </div>
    {% for comment in comments %}
        <div class="shop-detail-box view-comment">
            <div class="comment-user-inf">
                <div class="user-inf-img">
                    <img src="{{comment.avatar|default('/static/home/images/touxiang.png')}}" alt="">
                </div>
                <div class="user-inf-text">
                    <p>{{comment.tel}}</p>
                    <div class="goods-score">
                        <div class="score-start sprits">
                            <div class="current-score sprits" style="width:{{comment.score*10 }}%" data-score="{{comment.score}}"></div>
                        </div>
                        <span class="comment-count">{{comment.ctime}}</span>
                    </div>
                </div>
            </div>
            <div class="shop-comment-text">
                <p>{{comment.desc}}</p>
            </div>
        </div>
    {% endfor %}


{%endblock%}
{%block footer %}
{% endblock %}
{% block script %}
    <script>
        $(function () {

             $('.select-condition a').click(function () {
                console.log();
                //多条件筛选
                var type = $(this).data('type');
                var val = $(this).data('val');
                var search = GetRequest();
                if ($.isEmptyObject(search)) {

                    window.location.href = '/home/store/viewComment?'+type + '=' + val;
                } else {
                    search[type] = val;
                    var params = $.param(search);
                    window.location.href = '/home/store/viewComment?' + params;
                }
            });

            FastClick.attach(document.body);
            var selectKinds = function () {
                var $selectHandle = $(".goods-kinds-ul li"),
                        _target = "",
                        $showOption = $(".select-kinds-layer");
                $selectHandle.on("click", function () {
                    if (!$(this).hasClass("current")) {
                        $(this).addClass("current").siblings().removeClass("current");
                        _target = $(this).data("kinds");

                        for (var i = 0; i < $showOption.length; i++) {
                            var _point = $showOption.eq(i).data("kinds");
                            if (_point == _target) {
                                $showOption.hide();
                                $showOption.eq(i).show();
                                $showOption.eq(i).height($("body").height() - 170);
                            }
                        }
                    } else {
                        $(this).removeClass("current");
                        $showOption.hide();
                    }
                });
                $showOption.on("click", "li", function () {
                    $showOption.hide();
                    $selectHandle.removeClass("current")
                });
            }();
        })

        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

    </script>
{% endblock %}