{# empty Twig template #}
{% extends "layout/front.twig" %}
{% block title %}预约上门服务{% endblock%}
{%block header %}
    <div class="goback">
        <a href="javascript:history.go(-1)">
            <i class="sprits"></i>
        </a>
    </div>
    <div class="title">预约上门服务</div>
{% endblock %}
{%block main %}
    <div class="shop-location">
        <a href="/home/map/getPos.html">
            <i class="sprits location"></i>
            <p>{{pos_address}}</p>
            <i class="sprits go-next"></i>
        </a>
    </div>

    <div class="goods-kinds">
        <ul class="goods-kinds-ul shangmen">
            <li data-kinds="all-kinds">
                <a href="javascript:;">
                    <div class="all-kinds">
                        排序
                        <i class="sprits"></i>
                    </div>
                </a>
            </li>
            <li class="current">
                <a href="/home/orderservice/service.html">
                    <div class="all-city">
                        选项目
                    </div>
                </a>
            </li>
            <li>
                <a href="/home/orderservice/choiceStore.html">
                    <div class="zhineng">
                        选店铺
                    </div>
                </a>
            </li>
            <li>
                <a href="/home/orderservice/choiceEngineer" class="nob">
                    <div class="zhineng">
                        选技师
                    </div>
                </a>
            </li>
        </ul>

        <div class="select-kinds-layer" data-kinds="all-kinds">
            <ol class="select-condition">
                <li class="current">
                    <a href="/home/orderservice/service/type/1">价格由低到高</a>
                </li>
                <li>
                    <a href="/home/orderservice/service/type/2">价格由高到低</a>
                </li>
                <li>
                    <a href="/home/orderservice/service/type/3">时间由短到长</a>
                </li>
                <li>
                    <a href="/home/orderservice/service/type/4">时间由长到短</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="goods-list-box">
        <ul class="options-list-ul">
            {% for service in services %}
                <li>
                    <a href="/home/orderservice/serviceDetail/id/{{service.id}}">
                        <div class="options-picture">
                            <img src="{{service.cover}}" alt="">
                        </div>
                        <div class="options-inf">
                            <div class="options-name">
                                <p>{{service.name}}</p>
                                <span>￥{{service.price}}</span>
                            </div>

                            <div class="options-time">
                                <i class="sprits"></i>{{service.stime}}分钟
                            </div>
                            <div class="options-text">
                                <p>{{service.efficacy|striptags|slice(0,36)}}....</p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            FastClick.attach(document.body);

            var selectKinds = function () {
                var $selectHandle = $(".goods-kinds-ul li"),
                        _target = "",
                        $showOption = $(".select-kinds-layer");
                $selectHandle.on("click", function () {
                    if (!$(this).hasClass("current") && $(this).index() == 0) {
                        $(this).addClass("current");
                        _target = $(this).data("kinds");

                        for (var i = 0; i < $showOption.length; i++) {
                            var _point = $showOption.eq(i).data("kinds");
                            if (_point == _target) {
                                $showOption.hide();
                                $showOption.eq(i).show();
                                $showOption.eq(i).height($("body").height() - 170);
                            }
                        }
                    } else {
                        $(this).removeClass("current");
                        $showOption.hide();
                    }

                });
                $showOption.on("click", "li", function () {
                    $showOption.hide();
                    $selectHandle.removeClass("current")
                })
            }()
        })

    </script>
{% endblock%}