{%  extends "/shop/layout/layout.twig"  %}
{% set page_bread_top = '工作中心' %}
{% set page_bread_sub = '消息中心' %}
{% set page_header_title = '消息中心' %}
{% set page_tag = 'shop_user_message' %}
{% block main %}
	<div class="list list-condensed" style="width:90%">
		<header>
	          <div class="pull-right">
	            <div class="btn-group" data-toggle="buttons-radio">
	              <button type="button" class="btn btn-default active"><i class="icon-th-list"></i></button>
	              <button type="button" class="btn btn-default"><i class="icon-th"></i></button>
	              <button type="button" class="btn btn-default"><i class="icon-th-large"></i></button>
	            </div>
	          </div>
	          <h3><i class="icon-list-ul icon-border-circle"></i> 我的消息&nbsp;</h3>
	    </header>
		<div class="list">
		  <section class="items items-hover">
		  	{% for msg in msgs %}
	          <div class="item">
	            <div class="item-heading">
	              <div class="pull-right">{% if msg.isRead=='0' %}<a class='edit' id='{{ msg.id }}' href="javascript:void(0)"><i class="icon-pencil"></i> 标记为已读</a> {% endif %}</div>
	              <h4>{% if msg.isRead=='0' %} <span class="label label-success">NEW</span>&nbsp; {% endif %}<a href="###">{{ msg.title }}</a></h4>
	            </div>
	            <div class="item-content">
	                {{ msg.content }}
	            </div>
	            <div class="item-footer">
	              <span class="text-muted">{{ msg.ctime }}</span>
	            </div>
	          </div>
	        {% endfor %}
	       </section>
	        <footer>
	        <ul class="pager">
	          {{ pageShow |raw }}
	             <!--<li class="previous"><a href="#">»上一页 </a> </li>
	            <li><a href="#">1</a></li>
	            <li><a href="#">...</a></li>
	            <li><a href="#">6</a></li>
	            <li class="active"><a href="#">7</a></li>
	            <li><a href="#">8</a></li>
	            <li><a href="#">9</a></li>
	            <li><a href="#">...</a></li>
	            <li><a href="#">12</a></li>
	            <li class="next"><a href="#">下一页 »</a></li>-->
	          </ul>
				

	        </footer>
	    </div>
	</div>
{% endblock %}
{% block script %}
	<script>
		$(function(){
			$(".edit").click(function(){
				var obj=$(this);
				var id=$(this).attr('id');
				$.ajax({
					url: '/shop/user/setRead',
					type: 'POST',
					data: {id : id},
					success:function(msg){
						if(msg.status=='1'){
							obj.hide();
							obj.parent().parent().find('span').hide();
						}else{
							alert(msg.msg);
						}
					}
				})
				
			});

	    });
    </script>
{% endblock %}