{# empty Twig template #}
{% extends "layout/esui.twig" %}
{% block main %}
    <div style="margin: 10px 0;"></div>
    <div class="form-box" style="padding: 10px 0 10px 20px">
        <form id="node-form" action="/admin/sys/editAdmin" method="post">
            <input type="hidden" name="id"  value="{{cur_admin.id}}">
            <div class="input-group">
                <span class="input-group-addon" >用户名</span>
                <input type="text" name="name" class="easyui-validatebox" value="{{cur_admin.name}}" data-options="required:true"  aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" >电话号码</span>
                <input type="text" name="phoneNo" class="easyui-validatebox" value="{{cur_admin.phoneNo}}" data-options="required:true"  aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" >邮箱</span>
                <input type="text" name="mail" class="easyui-validatebox" value="{{cur_admin.mail}}" data-options="required:true"  aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" >所属组</span>
                <select class="easyui-combobox" name="role" style="width:100px;">
                    {% for group in groups %}
                        <option value="{{group.id}}">{{group.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">状态</span>
                <input type="radio" name="status" value="1" {% if cur_admin.status == '1' %} checked="checked" {% endif %} />启用
                <input type="radio" name="status" value="0" {% if cur_admin.status == '0' %} checked="checked" {% endif %} />禁用 
            </div>
            <div class="input-group">
                <span class="input-group-addon"></span>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm('node-form');">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm();">清除</a>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
        });
        function submitForm(id) {
            var $form = $('#' + id);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                success: function (msg) {
                    if (typeof msg === 'object') {
                        if (msg.status) {
                            $.messager.alert('消息', msg.msg, 'info');
                            //window.location.href = msg.url;
                        } else {
                            $.messager.alert('消息', msg.msg, 'error');
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}