{# empty Twig template #}
{% extends "layout/esui.twig" %}
{% block main %}
    <div style="margin: 10px 0;"></div>
    <div class="form-box" style="padding: 10px 0 10px 20px">
        <form id="node-form" action="/admin/sys/addGroup" method="post">
            <div class="input-group">
                <span class="input-group-addon" >组名</span>
                <input type="text" name="name" class="easyui-validatebox" data-options="required:true"  aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">备注</span>
                <textarea name="remark" style="width: 409px; height: 75px;"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon">权限</span>
                {% for node in nodes%}
                    <span style="display:block;margin-left: 70px;">
                         {{node.html}}{{node.name}}
                    </span>
                    {% if node.child is iterable %}
                        {% for item in node.child %}
                            <span style="display:block;margin-left: 70px;">
                                <input type="checkbox" name="node_id[]"  node="{{item.id}}" value="{{item.id}}" /> {{item.name}}
                            </span>
                        {% endfor %}
                    {% endif %}
                {%endfor%}
            </div>
            <div class="input-group">
                <span class="input-group-addon">状态</span>
                <input type="radio" name="status" value="1" checked="checked" />启用
                <input type="radio" name="status" value="0" />禁用 
            </div>
            <div class="input-group">
                <span class="input-group-addon"></span>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm('node-form');">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm();">清除</a>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
        });
        function submitForm(id) {
            var $form = $('#' + id);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                success: function (msg) {
                    if (typeof msg === 'object') {
                        if (msg.status) {
                            $.messager.alert('消息', msg.msg, 'info');
                            //window.location.href = msg.url;
                             history.go(-1);
                        } else {
                            $.messager.alert('消息', msg.msg, 'error');
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}