{% extends "layout/esui.twig" %}
{% block static %}
    <script type="text/javascript" src="/static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="/static/dropzone/dropzone.css">
{%endblock %}
{% block main %}
    <div class="easyui-panel" title="添加会员" data-options="iconCls:'icon-user2',collapsible:true,fit:true,border:false" >
        <div style="margin: 10px 0;"></div>
        <div class="form-box" style="padding: 10px 0 10px 20px">
            <form id="node-form" class="form-inline"  action="/admin/member/editMember" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="hidden" name="id" value="{{member.id}}" >
                    <span class="input-group-addon" >电话号码</span>
                    <input type="text" name="tel" class="easyui-textbox" value="{{member.tel}}" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >昵称</span>
                    <input type="text" name="nick" class="easyui-textbox" value="{{member.nick}}" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >真实姓名</span>
                    <input type="text" name="trueName" value="{{member.trueName}}" class="easyui-textbox" precision="2" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >地址</span>
                    <input type="text" name="address" class="easyui-textbox" value="{{member.address}}" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >初始密码</span>
                    <input type="text" name="pwd" class="easyui-textbox" value="123456" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">性别</span>
                    <input type="radio" name="gender" value="1" {% if member.gender == '1'%}checked="checked"{% endif %} />男
                    <input type="radio" name="gender" value="2" {% if member.gender == '2'%}checked="checked"{% endif %} />女 
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >生日</span>
                    <input type="text" name="birthday" class="easyui-datebox" value="123456" data-options="required:true"  aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">状态</span>
                    <input type="radio" name="status" value="1" {% if member.status == '1'%}checked="checked"{% endif %} />启用
                    <input type="radio" name="status" value="0" {% if member.status == '0'%}checked="checked"{% endif %} />禁用 
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm('node-form');">提交</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm();">清除</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- 配置文件 -->
    <script>
        $(function () {


        });
        function submitForm(id) {
            var $form = $('#' + id);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                success: function (msg) {
                    if (typeof msg === 'object') {
                        if (msg.status) {
                            alert(msg.msg);
                            //window.location.href = msg.url;
                        } else {
                            alert(msg.msg);
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}